# This file is a "template" of what your parameters.yml file should look like
parameters:

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    db_host1: 127.0.0.1
    db_port1: 5432
    db_name1: ode
    db_user1: ode
    db_password1: ode